# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\schmidle\OneDrive - Hewlett Packard Enterprise\DHBW\Dateien Vorlesungen\Verteilte Systeme\springboottest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
